@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* .heroImg{
    animation: heroImgAnimate 5s linear infinite;
}

@keyframes heroImgAnimate {
    0%{
        filter:grayscale(0);
        transform:scale(1) ;
        
    }

    50%{
        transform:scale(1.1) ;
        filter:grayscale(1);
        box-shadow: 3px 3px 10px black;
    }

    100%{
        transform:scale(1);
        filter:grayscale(0);
    }
} */

#about{
    background-image: url("./assets/aboutBg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}